# Apps
API_V1_MODULE_ENABLED=Y
API_V1_PORT=3000
CRON_MODULE_ENABLED=Y
# API URL
API_V1_URL=http://192.168.100.92:3000

# Auth
# generate using: openssl rand -base64 32 | tr -d /=+ | cut -c -32
JWT_ACCESS_TOKEN_SECRET=JWT_ACCESS_TOKEN_SECRET
JWT_ACCESS_TOKEN_EXPIRY=5m
# generate using: openssl rand -base64 32 | tr -d /=+ | cut -c -32
JWT_REFRESH_TOKEN_SECRET=JWT_REFRESH_TOKEN_SECRET
JWT_REFRESH_TOKEN_EXPIRY=

# Database
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_SSL=N

MINIO_ENDPOINT=localhost
MINIO_PORT=9002
MINIO_ROOT_USER=minioroot
MINIO_ROOT_PASSWORD=minioroot

AWS_ACCESS_KEY=your-aws-access-key
AWS_SECRET_KEY=your-aws-secret-key

S3_ENDPOINT=http://localhost:9002
S3_REGION=us-east-1
S3_UPLOAD_BUCKET=uploads
S3_CONTENT_BUCKET=content

CDN_URL=http://localhost:9002
DISABLE_CDN=Y

FIREBASE_PROJECT_ID=performance-tracker-staging
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
